{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit </h1>
    </div>
    {{ include('_form.html.twig') }}
{% endblock %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/patientForm.js') }}"></script>
{% endblock %}