<tr>

    <td>
        {{ form_row(form.packetType) }}
    </td>
    <td>
        {{ form_row(form.start) }}
    </td>
    <td>
        {{ form_row(form.end) }}
    </td>
    <td>
        <button class="btn btn-link js-remove-packet pull-right">
            <span class="fas fa-window-close"></span>
        </button>
    </td>
</tr>
