{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container text-center">
    {% block fos_user_content %}{% endblock %}
</div>
{% endblock %}
